controllers:
  main:
    containers:
      main:
        image:
          tag: v2.5.2
        env:
          TZ: Asia/Tokyo
          DB_HOSTNAME: immich-postgres-rw
          DB_PORT: "5432"
          DB_DATABASE_NAME: immich
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: username
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-db
                key: password
        resources:
          requests:
            cpu: 200m
            memory: 256Mi
          limits:
            cpu: 800m
            memory: 768Mi

immich:
  persistence:
    library:
      existingClaim: pvc-immich-library

server:
  controllers:
    main:
      containers:
        main:
          resources:
            requests:
              cpu: 100m
              memory: 400Mi
            limits:
              cpu: 250m
              memory: 1Gi
  ingress:
    main:
      enabled: true
      className: tailscale
      annotations:
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
      hosts:
        - host: immich
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: main
      tls:
        - hosts:
            - immich

valkey:
  enabled: true
  controllers:
    main:
      containers:
        main:
          resources:
            requests:
              cpu: 25m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
  persistence:
    data:
      enabled: true
      type: persistentVolumeClaim
      size: 1Gi
      accessMode: ReadWriteOnce
      storageClass: longhorn

machine-learning:
  controllers:
    main:
      containers:
        main:
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 1000m
              memory: 2Gi
  persistence:
    cache:
      enabled: true
      type: persistentVolumeClaim
      size: 10Gi
      accessMode: ReadWriteOnce
      storageClass: longhorn

microservices:
  controllers:
    main:
      containers:
        main:
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1Gi

web:
  controllers:
    main:
      containers:
        main:
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
